//
// BREADCRUMBS
//

.breadcrumb-wrapper {
	width: 75%;margin: 0 auto;

	ul.breadcrumb {
		padding: 10px 5px;
		list-style: none;

		li {
			display: inline;
			font-size: 12px;

			a {
				color: #514f4e;
				text-decoration: none;
			}

			a:hover {
				color: black;
			}
		}

		// Add a slash symbol (>) before/behind each list item
		li+li:before {
			padding: 8px;
			content: "\003E";
		}
	}
}