//
// Site Theme Colors //
//
$color-theme-gunmetal: #514f4e;
$color-theme-turquoise: turquoise;
$color-theme-black: #000000;
$color-theme-green: #29c95f;
$color-theme-lightgray: #C4C4C4;
$color-theme-white: #FFFFFF;